---
# tasks file for roles/centos-clone
- name: Installing Git for Centos
  yum:
    name: git
    state: latest

- name: Cloning Prelim Exam branch
  git:
    repo: '{{ prelim-exam }}'
    dest: ./prelim-exam
    version: prelim-exam
